$website-width: 1240px;
$main-color: #d00000;
$secondary-color: #e85d04;
$tertiary-color: #ffba08;
$cuaternary-color: #38b000;
$light-color: #f4f4f4;
$medium-color: #ccc;
$semi-dark-color: #444;
$dark-color: #333;
$github-color: #171515;
$linkedin-color: #0e76a8;
$bg-image: url(../img/header-1.png);
$gradient: linear-gradient(to right bottom, $main-color, $tertiary-color);
// $bg-image: url(../img/header-1.png);
