.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

@media (min-width: 280px) and (max-width: 952px) {
  .container {
    margin: 2rem auto;
    padding: 0 1rem !important;
  }
}

.select, .btn-dark, .btn-light, .btn-main, .btn {
  transition: all .5;
  cursor: pointer;
  border: none;
  padding: .8rem 2rem;
  display: inline-block;
}

.btn {
  color: #f4f4f4;
}

.btn-main {
  color: #f4f4f4;
  background-color: #d00000;
}

.btn-light {
  color: #333;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

button[class^="btn"]:hover, a[class^="btn"]:hover, input[class^="btn"]:hover {
  background-color: #d00000;
}

.select {
  border: 2px solid #333;
  padding: .6rem 1rem;
}

.lead {
  margin-bottom: 3rem;
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0 !important;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.section-title {
  padding-bottom: .5rem;
  font-size: 2rem;
}

.list li {
  border-bottom: 1px dotted #555;
  width: 90%;
  padding: .4rem 0;
}

.list lia:hover {
  color: #d00000;
}

.table {
  color: #333;
  background-color: #fff;
  padding: 2rem;
}

.table .item {
  margin-bottom: 10px;
}

.table .close-modal {
  color: #333;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 2rem;
  display: none;
  position: absolute;
  top: 8px;
  right: 20px;
}

.table .close-modal-hover {
  color: #ccc;
}

@media (min-width: 280px) and (max-width: 952px) {
  .table .close-modal {
    display: inline;
  }
}

.content_title {
  color: #d00000;
  margin-bottom: 10px;
}

.location {
  display: flex;
}

.location i {
  color: #d00000;
  margin-right: 10px;
}

.fa-star, .fa-star-half-stroke {
  color: #d00000;
}

.off {
  display: none !important;
}

.rest-website {
  color: #d00000;
  -webkit-text-decoration: underline #d00000;
  text-decoration: underline #d00000;
}

.attributions {
  z-index: 2;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

@media (max-width: 952px) {
  .attributions {
    display: none;
  }
}

#about {
  min-height: 75vh;
}

#about .container {
  padding: 4rem 1rem;
}

#about .section-title {
  color: #d00000;
}

#about .about-img {
  background: url("about-wallpaper.a81ce516.jpg") center / cover no-repeat;
  height: 399.64px;
  position: relative;
}

@media (min-width: 280px) and (max-width: 952px) {
  #about .about-img {
    background: url("about-wallpaper-crop.9a8676ee.png") center / cover no-repeat;
  }
}

#about .github {
  background-color: #171515;
}

#about .linkedin {
  background-color: #0e76a8;
}

#about .fab {
  padding-right: 3px;
  font-size: 1.2rem;
}

#about .dev {
  padding-top: 1rem;
  padding-bottom: .5rem;
  font-weight: 500;
}

#about .dev .fa-code {
  padding-left: 3px;
}

.randombtn {
  background: linear-gradient(to bottom right, #d00000, #ffba08);
  border: 7px solid #f4f4f4;
  border-radius: 3rem;
  width: 30rem;
  height: 8rem;
  margin: 1rem;
  padding: .8rem 2rem;
  box-shadow: 10px 8px 5px #ccc;
}

.randombtn img {
  width: 50%;
  height: 100%;
}

#results {
  position: relative;
}

#results-display {
  background-color: #f4f4f4;
  min-height: 70vh;
}

@media (min-width: 280px) and (max-width: 952px) {
  #results-display .container {
    margin: auto;
    padding: 2rem 1rem !important;
  }
}

.nav-results {
  background-color: #fff;
}

.nav-results .search_bar {
  border-right-color: #ccc;
  padding: 8px;
  position: absolute;
  top: 1rem;
  right: 15rem;
  width: 35rem !important;
}

.nav-results .search_bar-button {
  color: #ccc;
  cursor: pointer;
  background-color: #0000;
  border: none;
}

@media (min-width: 280px) and (max-width: 952px) {
  .nav-results .search_bar {
    right: 1rem;
    width: 45% !important;
  }

  .nav-results .search_bar .search_bar-field::placeholder {
    color: #0000;
  }

  .nav-results ul {
    display: none !important;
  }
}

.results-container {
  grid-gap: 1.5rem;
  grid-template-columns: .7fr 2fr;
  display: grid;
}

@media (min-width: 280px) and (max-width: 952px) {
  .results-container, .results-container .results-info {
    display: block;
  }
}

.results-container .results-info {
  grid-column: 1 / span 2;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  display: flex;
}

.results-container .results-info > div {
  align-items: baseline;
  display: flex;
}

.results-container .results-info .query {
  color: #d00000;
}

.results-container .results-info .quant {
  color: #ccc;
  margin-left: 10px;
  font-size: 1.3rem;
}

.results-container .results-info .results-details {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.results-container .results-info .results-details .filter-btn {
  display: none;
}

.results-container .results-info .results-details .filter-btn .fa-solid {
  margin-right: 10px;
}

.results-container .results-info .results-details .location {
  justify-content: center;
  justify-self: flex-end;
  align-items: center;
  display: flex;
}

@media (min-width: 280px) and (max-width: 952px) {
  .results-container .results-info .results-details {
    width: 100%;
  }

  .results-container .results-info .results-details .filter-btn {
    display: inline;
  }

  .results-container .results-info {
    display: block;
  }
}

.results-container .search_filters .table .item {
  border-bottom: 1px solid #ccc;
  line-height: 2;
}

.results-container .search_filters .table .item .filter-by {
  align-items: center;
  display: flex;
}

.results-container .search_filters .table .item .filter-by input[type="checkbox"] {
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  position: absolute;
}

.results-container .search_filters .table .item .filter-by img {
  width: 18px;
  height: 18px;
  padding-bottom: 1px;
  position: absolute;
}

.results-container .search_filters .table .item .filter-by .label {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
}

.results-container .search_filters .table .item .filter-by .label p {
  margin-left: 2rem;
}

.results-container .search_filters .table .item .filter-by .label > :before {
  content: "";
  color: #fff;
  background-color: #fff;
  border: 1px solid #333;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: .4rem;
  left: 0;
}

.results-container .search_filters .table .item .filter-by .filter_checkbox:checked + .label > :before {
  display: none;
}

.results-container .search_filters .table > :last-child {
  border-bottom: none;
}

@media (min-width: 280px) and (max-width: 952px) {
  .results-container .search_filters {
    width: 100vw;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .results-container .search_filters .table {
    height: 50vh;
  }
}

.results-container .search_results .results_list {
  flex-direction: column;
  align-items: center;
  width: 99%;
  margin: 2rem 0;
  display: flex;
}

.results-container .search_results .results_list .object {
  cursor: pointer;
  background-color: #fff;
  border-radius: 1px;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  box-shadow: 5px 5px 5px #ccc;
}

.results-container .search_results .results_list .object img {
  object-fit: cover;
  border-radius: 0;
  max-width: 220px;
  height: 130px;
}

.results-container .search_results .results_list .object .details {
  width: 100%;
  margin-left: 10px;
  padding: .8rem 1rem;
  position: relative;
}

.results-container .search_results .results_list .object .details .main_details h2 {
  margin-bottom: 5px;
  display: inline-block;
}

.results-container .search_results .results_list .object .details .main_details h2:hover {
  text-decoration: underline;
}

.results-container .search_results .results_list .object .details .main_details p {
  margin-bottom: 15px;
}

.results-container .search_results .results_list .object .details .main_details span {
  font-weight: bold;
}

.results-container .search_results .results_list .object .details .main_details .rating .fa-star, .results-container .search_results .results_list .object .details .main_details .rating .fa-star-half-stroke {
  font-size: 1.4rem;
}

.results-container .search_results .results_list .object .details .aside_details {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.results-container .search_results .results_list .object .details .aside_details .available {
  display: flex;
}

.results-container .search_results .results_list .object .details .aside_details .available .sign {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 3px 6px;
}

.results-container .search_results .results_list .object .details .aside_details .available .open {
  background-color: #38b000;
}

.results-container .search_results .results_list .object .details .aside_details .available .close {
  background-color: #d00000;
}

@media (min-width: 280px) and (max-width: 952px) {
  .results-container .search_results .results_list .object .details .aside_details .available {
    display: none;
  }
}

.results-container .search_results .results_list .object .details .aside_details .cost {
  text-align: right;
  padding-right: 6px;
}

.results-container .search_results .results_list .object:hover {
  box-shadow: 8px 8px 8px #ccc;
}

.results-container .search_results .results_list .error {
  align-items: center;
  display: flex;
}

.results-container .search_results .results_list .error .fa-solid {
  color: #d00000;
  padding-right: 8px;
}

.results-container .search_results .results_list .error p {
  font-size: 1.5rem;
}

#rest-display {
  margin-top: 1rem;
}

#rest > div {
  margin-bottom: 10px;
}

#rest .rest_details {
  display: flex;
}

#rest .rest_details p {
  margin-left: 5px;
}

#rest .rest_details .separator {
  background-color: #000;
  width: 1px;
  margin: 2px 10px;
}

#rest .rest-img {
  height: 100%;
}

#rest .rest-img img {
  max-height: 400px;
}

#rest_info {
  gap: 1.5rem;
  margin-top: 1rem;
  display: flex;
}

@media (min-width: 280px) and (max-width: 600px) {
  #rest_info {
    display: block;
  }

  #rest_info .figure {
    margin: 1rem 0;
  }
}

#rest_info .figure {
  border: 1px solid #ccc;
  padding: 1rem 1.5rem;
}

#rest_info .table {
  gap: 3rem;
  display: flex;
}

#rest_info .table .content_title span {
  display: block;
}

#rest_info .table h3 {
  margin-bottom: 5px;
}

#rest_info .table div:last-child #map {
  z-index: 1;
  background-color: #f4f4f4;
  height: 180px;
  margin-top: 1rem;
}

#rest_info #schedule {
  height: -moz-fit-content;
  height: fit-content;
}

#rest_info #schedule .day {
  justify-content: space-between;
  gap: 10rem;
  padding-bottom: 10px;
  display: flex;
}

#rest_info #schedule p:first-child {
  color: #333;
  font-weight: 600;
}

#comments .comment {
  margin: 1rem 0;
  padding-right: 10rem;
}

#comments .comment-desc {
  gap: 12px;
  display: flex;
}

#comments .comment-desc .user {
  font-weight: 600;
}

#comments .comment-desc > div {
  margin-top: -5px;
}

#comments .comment-desc .pub_Date {
  margin-top: -2px;
  font-size: 15px;
}

#comments .comment-desc .comment-text {
  margin-top: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#logo {
  width: 100%;
  height: 40px;
}

#nav {
  background-color: #d00000;
  justify-content: space-between;
  width: 100%;
  padding: .75rem;
  display: flex;
}

#nav ul {
  align-items: center;
  display: flex;
}

#nav ul li {
  padding: .5rem 1rem;
}

#nav ul a {
  color: #fff;
  border-bottom: 3px solid #0000;
  text-decoration: none;
  transition: border-color .5s;
}

#nav ul a:hover {
  border-color: #ffba08;
}

.search {
  margin: 0 1rem;
  display: flex;
}

.search_bar {
  background-color: #fff;
  border: 2px solid #ccc;
  border-right-color: #0000;
  border-radius: 2px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .8rem 1rem;
  display: flex;
}

.search_bar-field {
  background-color: #0000;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
  font-size: 1rem;
}

.search_bar .fa-solid {
  color: #ccc;
}

.spinner {
  color: #ccc;
  animation: .8s linear infinite rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

#header {
  position: relative;
}

#header .header-content {
  color: #333;
  text-align: center;
  background: url("header-1.a4aa52ca.png") center / cover no-repeat;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 13%;
  display: flex;
}

@media (min-width: 280px) and (max-width: 952px) {
  #header .header-content .container {
    padding: 0 10px;
    transform: scale(1.3);
  }

  #header .header-content .search {
    margin: 0;
  }
}

#header .header-content #search-field {
  width: 60%;
  margin: 1rem;
}

#header .header-content h1 {
  margin-bottom: 2px;
  font-size: 3.3rem;
  line-height: 1.2;
}

#header .header-content p {
  margin-bottom: 1rem;
}

#categories .suggestions, #top .suggestions, .results-container .search_results, #categories .suggestions ul, #top .suggestions ul, .results-container .search_results ul {
  display: flex;
}

@media (min-width: 280px) and (max-width: 952px) {
  #categories .suggestions ul, #top .suggestions ul, .results-container .search_results ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  #categories .suggestions ul li, #top .suggestions ul li, .results-container .search_results ul li {
    margin: 1rem 0;
    transform: scale(1.4);
  }
}

#categories .suggestions li, #top .suggestions li, .results-container .search_results li {
  line-height: 1.5;
}

#categories .suggestions li .object, #top .suggestions li .object, .results-container .search_results li .object {
  cursor: pointer;
  padding-right: 1rem;
}

#categories .suggestions li .object img, #top .suggestions li .object img, .results-container .search_results li .object img {
  border-radius: 10%;
  height: 9rem;
}

#categories, #top {
  position: relative;
}

@media (min-width: 280px) and (max-width: 952px) {
  #categories .suggestions, #top .suggestions {
    margin: 1rem 0 0 3rem;
  }

  #categories .suggestions h3, #top .suggestions h3 {
    margin-bottom: 1rem;
  }
}

#categories .suggestions h3, #top .suggestions h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

#random {
  background: url("random_button-bg.e25b123d.png") 0 / cover no-repeat;
  justify-content: center;
  align-items: center;
  height: 600px;
  display: flex;
  position: relative;
}

#random .filler {
  flex: 1;
}

#random h2 {
  font-size: 2.5rem;
}

@media (min-width: 280px) and (max-width: 952px) {
  #random {
    background: url("random_button-bg-crop.db1c11e7.png") center / cover no-repeat;
  }

  #random .filler {
    display: none;
  }
}

#random .random_food {
  text-align: center;
  background-color: #ffffff1a;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 22rem;
  margin-right: 2rem;
  padding: 0 4rem;
  display: flex;
}

@media (min-width: 1024px) {
  #random .random_food {
    flex: 1;
  }
}

@media (max-width: 600px) {
  #random .random_food {
    color: #fff;
    background-color: #00000080;
    width: 95%;
    height: 80%;
    margin: 0;
    padding: 0 4.5rem;
  }
}

@media (min-width: 640px) and (max-width: 850px) {
  #random .random_food {
    color: #fff;
    background-color: #00000080;
    width: 75%;
    height: 95%;
    margin: 0;
    padding: 0 4.5rem;
  }
}

#main-footer {
  color: #f4f4f4;
  background-color: #333;
}

#main-footer a {
  color: #fff;
  font-size: 1rem;
}

#main-footer a:hover {
  color: #d00000;
}

#main-footer .footer-container {
  grid-gap: 1rem;
  grid-template-columns: 1fr 20rem;
  padding: 1rem 2rem;
  display: grid;
}

#main-footer .footer-container .logo-container {
  border-right: 1px solid #444;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#main-footer .footer-container .logo-container img {
  width: 50%;
  height: auto;
  padding-right: 1rem;
}

#main-footer .footer-container .logo-container p {
  padding-top: 2rem;
}

#main-footer .footer-container > :last-child {
  text-align: center;
  background: #444;
  grid-column: 1 / span 2;
  padding: .5rem;
  font-size: .75rem;
}

@media (min-width: 280px) and (max-width: 952px) {
  #main-footer .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  #main-footer .footer-container .page-summary {
    display: none;
  }

  #main-footer .footer-container .logo-container img {
    width: 100%;
  }
}

/*# sourceMappingURL=index.f7626f62.css.map */
